body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card {
  box-shadow: 10px 5px 20px gray;
  padding: 0;
  width: max(300px, 50%);
}

.title {
  margin: 0;
  color: rgb(44, 43, 43);
}

::placeholder {
  color: rgb(142, 140, 140);
}

.row {
  padding: 15px 10px;
  border-bottom: gray solid 1px;
  margin: 0;
}

.text-input {
  border: 0;
  font-style: italic;
  width: 96%;
}

.text-task {
  border: none;
  width: 80%;
}

.text-task:focus-visible,
.text-input:focus-visible {
  outline: 0;
}

.icon_return {
  width: 10px;
  margin-left: 5px;
}

.task {
  list-style: none;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
}

.check {
  text-decoration: line-through;
  color: gray;
}

.checkbox {
  margin-right: 5px;
}

.btn {
  background-color: rgb(222, 224, 225);
  border: none;
  color: gray;
  width: 100%;
}

.btn:hover {
  text-decoration: underline;
}

.flex-around {
  display: flex;
  justify-content: space-between;
}

.icon-reload {
  width: 10px;
  height: 10px;
}

.icon-more, .icon-trash {
  width: 20px;
}

.icon-trash:hover {
  width: 22px;
}

.hide {
  display: none;
}
